{% extends "base.html" %}
{% block content %}
<div id="pic-content">

  <a href="{{ url_for('main.album_route', albumid=data.albumid) }}" id="parent_album"><i class="fa fa-times" aria-hidden="true"></i></a>

  <div class="col-xs-2 pic-nav-container">
    {% if data.prev != "" %}
    <a href="{{ url_for('main.pic_route', picid=data.prev) }}" id="prev_pic" class="pic-nav">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </a>
    {% endif %}
  </div>

  <div class="col-xs-8 image-container">
    <img class="pic-image" src="static/images/{{data.current}}.{{data.current_format}}" />
  </div>

  <div class="col-xs-2 pic-nav-container">
    {% if data.next != "" %}
    <a href="{{ url_for('main.pic_route', picid=data.next) }}" id="next_pic" class="pic-nav">
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </a>
    {% endif %}
  </div>

</div>
{% endblock %}
